
    <div class="flex-container">
        <div class="flex-item-1">
            <label class="label-bluenav">CAMPAIGN GROUP NAME</label>
            <div *ngIf="campaignGroup">
                <h3 *ngFor="let item of campaignGroup;" class="campaignGroupName">{{item.name}}</h3>
            </div>
        </div>
        <div class="flex-item-2">
            <label class="label-bluenav">CAMPAIGN NAME</label>
            <div *ngIf="currentCampaign.length > 0">
                <h3 class="campaignGroupName">{{currentCampaign[1].name}}</h3>
            </div>
        </div>
        <div class="flex-item-3">
            <label class="label-bluenav">ACCOUNT IN PROGRESS</label>
            <div *ngIf="currentCampaign">
                <h3 class="campaignGroupName">0 out of {{currentCampaign.length}} campaigns analyze</h3>
            </div>
        </div>
        <div class="flex-item-4">
            <button mat-button>Continue</button>
        </div>
    </div>

